In [1]:
import pandas as pd
import numpy as np 
df = pd.DataFrame(np.random.rand(100000,10))
df.columns = [f"col_{i}" for i in df.columns]
df.to_csv('my_data.csv')

In [11]:
df

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9
0,0.327448,0.681584,0.438505,0.440064,0.785387,0.769706,0.669555,0.035797,0.971001,0.012666
1,0.236573,0.533135,0.593963,0.397422,0.793600,0.299127,0.703169,0.126086,0.061196,0.467016
2,0.428954,0.079848,0.641433,0.041107,0.317675,0.910023,0.758656,0.771935,0.933629,0.508137
3,0.583593,0.653539,0.033105,0.677320,0.176733,0.674103,0.931494,0.147855,0.937805,0.313910
4,0.313628,0.593861,0.322416,0.831160,0.826992,0.247244,0.540979,0.034061,0.651372,0.820704
...,...,...,...,...,...,...,...,...,...,...
99995,0.069889,0.057681,0.250171,0.085846,0.451564,0.746302,0.767369,0.481615,0.560753,0.260582
99996,0.217258,0.992965,0.356542,0.188035,0.150298,0.818482,0.177648,0.392634,0.552961,0.717930
99997,0.857875,0.836924,0.776377,0.521256,0.807501,0.794449,0.768778,0.051941,0.809185,0.017757
99998,0.760095,0.004751,0.467809,0.514814,0.913662,0.944099,0.481789,0.518312,0.600803,0.833300
99999,0.274293,0.882286,0.631615,0.054972,0.177471,0.307196,0.139128,0.918273,0.978447,0.958290

In [9]:
datajson = df.to_dict(orient='records')

In [10]:
import json 
with open('my_data.json','w') as json_file:
    json.dump(datajson,json_file)